*.aux
*.log
*.out
*.pdf
*.synctex.gz
*.project.vim
example_paper.pdf
example_paper.bib
icml_numpapers.eps
icml_numpapers.pdf
example_paper.tex
fancyhdr.sty
algorithm.sty
algorithmic.sty
natbib.sty
build/**
icml16_nrsa.bbl
icml16_nrsa_aux
icml2016_NRSA.fdb_latexmk

